.home {
  text-align: center;
  color: white;
}
.top-content {
  background: url(./images/back.jpg) bottom no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 40em;
}
.about {
  background-color: #2b2b2b;
  height: 30em;
  text-align: center;
  color: white;
}

.service {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/gym-background.jpg) center no-repeat;
  background-size: cover;
  padding: 7em;
}
.team {
  background-color: #2b2b2b;
  padding: 7em;
}
.membership {
  background: linear-gradient(rgba(242, 80, 62, 0.6), rgba(242, 80, 62, 0.3)),
    url(./images/blur-gym.jpg) center no-repeat;
  background-size: cover;
  padding: 2em;
}
.contact {
  background-color: #2b2b2b;
  text-align: center;
  color: white;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  border-bottom: 5px solid #f2503e;
}
.card-body {
  background-color: #373c3f;
}

hr.divider-xx {
  border: 0;
  height: 55px;
  background: url(./images/divider-xx.png) center no-repeat;
  background-size: 50px;
}
hr.divider-x {
  border: 0;
  height: 25px;
  background: url(./images/divider-x.png) center no-repeat;
  background-size: 15px;
}
span {
  color: #f2503e;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.fa-facebook {
  background: transparent;
  color: #f2503e;
  border: 1px #f2503e solid;
  border-radius: 4px;
}
.fa-facebook:hover {
  color: white;
  border: 1px white solid;
  background-color: #f2503e;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.fa-twitter {
  background: transparent;
  color: #f2503e;
  border: 1px #f2503e solid;
  border-radius: 4px;
}
.fa-twitter:hover {
  color: white;
  border: 1px white solid;
  background-color: #f2503e;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.fa-instagram {
  background: transparent;
  color: #f2503e;
  border: 1px #f2503e solid;
  border-radius: 4px;
}
.fa-instagram:hover {
  color: white;
  border: 1px white solid;
  background-color: #f2503e;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="text"] {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 15px;
}
input[type="text"]:focus {
  background-color: transparent;
  color: white;
}
input[type="email"] {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 15px;
}
input[type="email"]:focus {
  background-color: transparent;
  color: white;
}
input[type="password"] {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 15px;
}
input[type="password"]:focus {
  background-color: transparent;
  color: white;
}
textarea[type="text"] {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 30px;
}
textarea[type="text"]:focus {
  background-color: transparent;
  color: white;
}
.btn-danger {
  background-color: #f2503e;
  border-color: #f2503e;
}
.btn-danger:hover {
  background-color: #f2503e;
  border-color: #f2503e;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contact-list {
  display: table;
  width: 100%;
  color: white;
  text-align: Left;
}
.contact-list .fa {
  display: table-cell;
  width: 35px;
  font-size: 18px;
  line-height: 28px;
  vertical-align: top;
}
.contact-info {
  display: table-cell;
}
